/* General Styles */
body {
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  margin: auto;
}

a {
  text-decoration: none;
}
/* Header */

header {
  background-color: #9370db;
  text-align: center;
  color: #F5FFFA;
  font-weight: lighter;
  padding: 1rem;
}

header img {
  margin: 1rem 0;
  width: 70%;
}

/* Navigation */

header ul {
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
}

header li {
  display: inline-block;
  padding: 8px 0;
  text-decoration: none;
  margin: 2px 0;
  background-color: #fff;
  width: 90%;
  text-transform: uppercase;
  font-weight: 600;
}

/* Content */

section {
  background-color: white;
  padding: 0 1rem;
}

h3 {
  margin: 2rem 0;
  padding: 1.75rem;
  color: black;
  font-weight: 400;
  text-transform: uppercase;
}

h4 {
  font-weight: 400;
  color: black;
}

/* Footer */

footer {
  background-color: #4b0082;
  color: #F5FFFA;
  text-align: center;
}

footer h3 span{
  font-weight: 400;
  color: #F5FFFA;
  border-bottom: 3px solid #B0E0E6;
}

footer p {
  font-weight: 300;
}

footer span {
  font-weight: 600;
}

#footer-info {
  width: 50%;
  margin: auto;
}

#back2top {
  font-weight: 600;
  padding: 2rem 1rem 0;
}

#tablet-desktop-footernav {
  visibility: hidden;
}

footer a {
  color: #F5FFFA;
}

/* General Layout */

img {
  max-width: 100%;
  vertical-align: top;
}


/**** Media Query Tablet ****/

@media only screen and (min-width: 768px) {

  a:hover {
    color: #B0E0E6;
  }

  header {
    padding: 2rem;
  }

  header img {
    width: auto;
    margin: 0;
    padding: 0;
  }

  header p {
   text-align: justify;
   line-height: 1.8rem;
   padding-right: 1rem;
  }

/* Header Columns */

  header .col-1 {
    float: left;
    width: 50%;
    margin: 0;
  }

  header .col-2 {
    float: right;
    width: 50%;
    margin: 0;
  }

/* Navigation */
  header ul {
    list-style-type: none;
    margin: 3rem 0;
    padding: 0;
  }

  header li {
    display: inline;
    text-decoration: none;
    margin: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #9370db;
    border-bottom: solid 3px #B0E0E6;
    border-right: solid 3px #B0E0E6;
    padding: 1rem;
  }

  header ul li a {
    color: #F5FFFA;
  }
/* Content Columns */

  section .col-1 {
    float: left;
    width: 48%;
    margin: 0 0 3rem;
    padding: 0;
  }

  section .col-2 {
    float: right;
    width: 48%;
    margin: 0 0 3rem;
    padding: 0;
  }

  #back2top {
    clear: both;
  }

  #back2top p {
    float: left;
  }

  #mobile-footer {
    visibility: hidden;
  }

  #tablet-desktop-footernav {
    visibility: visible;
  }

  #tablet-desktop-footernav ul {
    padding-bottom: 2rem;
  }

  #tablet-desktop-footernav ul li {
    list-style: none;
    display: inline-block;
    padding-left: 3rem;
    float: right;
  }

}

/*** Media Query Desktop ****/

@media only screen and (min-width: 1024px) {

  header h1 {
    text-align: left;
    float: left;
    width: 50%;
  }

  header ul  li {
    width: 50%;
    display: inline;
    margin: 0 1rem 0;
  }

  header p {
    font-weight: 600;
    padding-top: 1rem;
    display: block;
  }

  header img {
    margin-top: 1rem;
  }

  section .row-1  {
    display: inline;
    width: 30%;
    padding: 0 1%;
    float: left;
  }

  section .row-2 {
    display: inline;
    width: 30%;
    padding: 0 1%;
    float: left;
  }

}

/* Clear Fix */

.clearfix {
  overflow: auto;
}
